<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <intuit>
    <ipp>
      <!--Json serialization not supported in PHP SDK v1.0.0 -->
      <message>
        <request serializationFormat="Xml" compressionFormat="None"/>
        <response serializationFormat="Xml" compressionFormat="None"/>
      </message>
      <service>
        <baseUrl qbd="https://quickbooks.api.intuit.com/" qbo="https://quickbooks.api.intuit.com/v3/company" />
      </service>
      <logger>
        <requestLog enableRequestResponseLogging="true" requestResponseLoggingDirectory="/tmp/IdsLogs" />
      </logger>
    </ipp>
  </intuit>
  <appSettings>
    <!--These samples use a hard-coded realm ID and OAuth tokens.  Enter the values below. -->
	<add key="AccessToken" value="qyprdbWG60143zHjRFTe9us1prCjc0HR8KpMrcPOmOnZndH6" />
	<add key="AccessTokenSecret" value="7BOpIzO930VzLMmaSU9UlElyT9m2Y2nHoDcVKnCn" />
	<add key="ConsumerKey" value="qyprdXEP2bhTUfNnj3L8mvBqqyvLqJ" />
	<add key="ConsumerSecret" value="MiOsJdOod5KEgvUFH50pzZf7UniCksxfBfrgggee" />
	<add key="RealmID" value="123145768029022" />
  </appSettings>
</configuration>
